<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031727877563-cgb89q1b111s1um79n09be0jkdv3dgtc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031727877563-cgb89q1b111s1um79n09be0jkdv3dgtc</string>
	<key>API_KEY</key>
	<string>AIzaSyDnUgj7mwl0vBdIaDYEUnRx53sUm6a_M_E</string>
	<key>GCM_SENDER_ID</key>
	<string>1031727877563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterlads.myfootballcareer</string>
	<key>PROJECT_ID</key>
	<string>my-footbal-career</string>
	<key>STORAGE_BUCKET</key>
	<string>my-footbal-career.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031727877563:ios:939ae3d9b318c49e2fc89e</string>
</dict>
</plist>